<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408081075913-a1odua6r73upu49ael0qe30lf8k0btkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408081075913-a1odua6r73upu49ael0qe30lf8k0btkk</string>
	<key>API_KEY</key>
	<string>AIzaSyBNBkXtiUqFV6lkcBV5_EMtkt6zU3RkF-M</string>
	<key>GCM_SENDER_ID</key>
	<string>408081075913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chattapp-6c89c</string>
	<key>STORAGE_BUCKET</key>
	<string>chattapp-6c89c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408081075913:ios:57f6a553fbb8fc4a430718</string>
</dict>
</plist>